services:
- type: web
  name: nse-scraping
  env: docker
  plan: free
  branch: main
  dockerfilePath: ./Dockerfile
  envVars:
    - key: CHROME_BIN
      value: /usr/bin/chromium
    - key: CHROMEDRIVER_PATH
      value: /usr/bin/chromedriver